/* import font */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* elements */
body {
  background: #f8fcfe;
}

p {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #454343;
}

h1 {
  margin: 0;
  padding: 50px 5px 10px 5px;
  font-family: "Merriweather", sans-serif;
  font-size: 60px;
  color: #6A534D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "Merriweather", sans-serif;
  font-size: 35px;
  color: #6A534D;
  margin: 0;
}

h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: #FFFDFB;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  margin: 20px;
}

/* classes */
.landing {
  text-align: center;
  min-width: 370px;
  max-width: 780px;
  height: 85vh;
  margin: 3% auto;
}

.form {
  text-align: center;
  vertical-align: center;
  background: #75B4AB  ;
  min-width: 370px;
  max-width: 400px;
  width: 40vw;
  height: auto;
  padding-top: 1px;
  margin: 0 auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
